# Pandas数据索引

In [1]:
import pandas as pd
path='J:/Learning/opencv/new/hw1/train.csv'
sample=pd.read_csv(path,encoding = 'big5')
sample.head(5)

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

## .loc索引

可以将列标签打印出来

In [2]:
print(sample.columns)

Index(['日期', '測站', '測項', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23'],
      dtype='object')

In [3]:
data1=sample.loc[sample['日期']=='2014/1/1','日期':'0']#逗号分隔行列,冒号加空格代表取相应方向所有数据
print(data1)
type(data1)

          日期  測站          測項     0
0   2014/1/1  豐原    AMB_TEMP    14
1   2014/1/1  豐原         CH4   1.8
2   2014/1/1  豐原          CO  0.51
3   2014/1/1  豐原        NMHC   0.2
4   2014/1/1  豐原          NO   0.9
5   2014/1/1  豐原         NO2    16
6   2014/1/1  豐原         NOx    17
7   2014/1/1  豐原          O3    16
8   2014/1/1  豐原        PM10    56
9   2014/1/1  豐原       PM2.5    26
10  2014/1/1  豐原    RAINFALL    NR
11  2014/1/1  豐原          RH    77
12  2014/1/1  豐原         SO2   1.8
13  2014/1/1  豐原         THC     2
14  2014/1/1  豐原       WD_HR    37
15  2014/1/1  豐原  WIND_DIREC    35
16  2014/1/1  豐原  WIND_SPEED   1.4
17  2014/1/1  豐原       WS_HR   0.5

pandas.core.frame.DataFrame

此时数据仍为dataframe类型，可以在loc语句后加**.values**，将数据类型直接转换为ndarray数组形式！便于后续各种计算

In [4]:
data2=sample.loc[sample['日期']=='2014/1/1','日期':'0'].values
print(data2)
type(data2)

[['2014/1/1' '豐原' 'AMB_TEMP' '14']
 ['2014/1/1' '豐原' 'CH4' '1.8']
 ['2014/1/1' '豐原' 'CO' '0.51']
 ['2014/1/1' '豐原' 'NMHC' '0.2']
 ['2014/1/1' '豐原' 'NO' '0.9']
 ['2014/1/1' '豐原' 'NO2' '16']
 ['2014/1/1' '豐原' 'NOx' '17']
 ['2014/1/1' '豐原' 'O3' '16']
 ['2014/1/1' '豐原' 'PM10' '56']
 ['2014/1/1' '豐原' 'PM2.5' '26']
 ['2014/1/1' '豐原' 'RAINFALL' 'NR']
 ['2014/1/1' '豐原' 'RH' '77']
 ['2014/1/1' '豐原' 'SO2' '1.8']
 ['2014/1/1' '豐原' 'THC' '2']
 ['2014/1/1' '豐原' 'WD_HR' '37']
 ['2014/1/1' '豐原' 'WIND_DIREC' '35']
 ['2014/1/1' '豐原' 'WIND_SPEED' '1.4']
 ['2014/1/1' '豐原' 'WS_HR' '0.5']]

numpy.ndarray

## .iloc索引

**1. 如果只使用一个参数，代表索取对应行的数据**

In [5]:
sample.iloc[0].values

array(['2014/1/1', '豐原', 'AMB_TEMP', '14', '14', '14', '13', '12', '12',
       '12', '12', '15', '17', '20', '22', '22', '22', '22', '22', '21',
       '19', '17', '16', '15', '15', '15', '15'], dtype=object)

**2. 索引多行多列（离散）**

In [6]:
sample.iloc[[0,3,4],[0,1,3]]

         日期  測站    0
0  2014/1/1  豐原   14
3  2014/1/1  豐原  0.2
4  2014/1/1  豐原  0.9

**3. 索引多行多列（连续）**

***左闭右开！！！*** 可以看到第4行和第4列并未被选中（起始行列位置为0）

In [7]:
sample.iloc[1:4,0:4]

         日期  測站    測項     0
1  2014/1/1  豐原   CH4   1.8
2  2014/1/1  豐原    CO  0.51
3  2014/1/1  豐原  NMHC   0.2

---
# .iloc与.loc索引对比

为了直观显示，我们对数据进行一下排序

pandas中 **.sort_index(ascending=False)** 可以按标签降序重新排列数据

In [8]:
data3=sample.sort_index(ascending=False)
data3.head(3)

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
4319,2014/12/20,豐原,WS_HR,0.7,0.8,1.8,1,1.9,1.7,2.1,...,1.3,1.7,0.7,0.4,1.1,1.4,1.3,1.6,1.8,2
4318,2014/12/20,豐原,WIND_SPEED,1.9,2.4,1.9,2.8,2.3,1.9,2.1,...,2.3,2.6,1.3,1,1.5,1,1.7,1.5,2,2
4317,2014/12/20,豐原,WIND_DIREC,36,55,72,327,74,52,59,...,18,311,52,54,121,97,107,118,100,105

In [9]:
data3.tail(3)

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15

In [10]:
dataloc=data3.loc[0,:].values
print(dataloc)
datailoc=data3.iloc[0].values
print(datailoc)

['2014/1/1' '豐原' 'AMB_TEMP' '14' '14' '14' '13' '12' '12' '12' '12' '15'
 '17' '20' '22' '22' '22' '22' '22' '21' '19' '17' '16' '15' '15' '15'
 '15']
['2014/12/20' '豐原' 'WS_HR' '0.7' '0.8' '1.8' '1' '1.9' '1.7' '2.1' '2' '2'
 '1.7' '3' '2.9' '2.7' '2.8' '1.3' '1.7' '0.7' '0.4' '1.1' '1.4' '1.3'
 '1.6' '1.8' '2']

可以看到，iloc是按当前数据的实际所处行数索引，loc是按标签索引

---

**4. 逻辑索引**

为了显示方便，我们先定义逻辑为测项=CH4，然后直接将该逻辑放入iloc框内即可

In [11]:
logic1=list(sample['測項']=='CH4')

In [12]:
sample.iloc[logic1]

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
19,2014/1/2,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
37,2014/1/3,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.7,1.7,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
55,2014/1/4,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.9
73,2014/1/5,豐原,CH4,1.8,1.9,1.9,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,2014/12/16,豐原,CH4,1.8,1.7,1.8,1.8,1.8,1.7,1.7,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
4249,2014/12/17,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7
4267,2014/12/18,豐原,CH4,1.7,1.7,1.7,1.7,1.7,1.8,1.8,...,1.8,1.7,1.7,1.7,1.8,1.8,1.7,1.8,1.8,1.8
4285,2014/12/19,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7
4303,2014/12/20,豐原,CH4,1.7,1.7,1.7,1.7,1.7,1.7,1.7,...,1.7,1.7,1.7,1.8,1.8,1.8,1.8,1.8,1.8,1.8

# 直接索引

**只能单维度索引！**

**按列索引多加个中括号且无法连续索引**

In [13]:
sample[['0','4']]

         0     4
0       14    12
1      1.8   1.8
2     0.51  0.35
3      0.2  0.11
4      0.9   1.8
...    ...   ...
4315   1.8   1.8
4316    46    55
4317    36    74
4318   1.9   2.3
4319   0.7   1.9

[4320 rows x 2 columns]

**按行索引只能连续索引**

In [14]:
sample[0:4]

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08